/* ========================================
   MOBILE OVERRIDES (Loaded Last)
   ======================================== */

@media screen and (max-width: 600px) {
    /* Hide the 3D shoe on phones to save space */
    .shoe-container {
        display: none !important;
    }
}

@media screen and (max-height: 600px) and (orientation: landscape) {
    /* Allow scrolling when height is constrained */
    body {
        overflow: auto;
    }
}

@media screen and (max-width: 900px) {
    .header-toggles {
        width: auto;
        justify-content: flex-end;
        margin-left: auto;
    }

    .controls-section {
        white-space: normal;
    }
}

@media screen and (max-width: 700px) {
    .header-toggles {
        width: 100%;
        justify-content: center;
        margin-left: 0;
    }
}
